.form{
  
  text-align:justify;
  background-color: #282c34;
  width:100%;
  height:fit-content;
  border: 5px solid green;
 
  
}

ul.a {

  list-style-type: circle;
  margin: 50px;
}

/* .button,
ul {
  background-color: #c72842;
  min-height: 10vh;
  display: flex;
  flex-direction: column-right;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: justify;
} */
